<nav class="navbar bg-danger">
  <div class="container-fluid d-flex justify-content-start align-items-stretch">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/2645/2645897.png" alt="Logo" width="60" height="48"
        class="d-inline-block align-text-top">
    </a>
    <p class="fs-1">NotificationApp</p>
  </div>
</nav>

<div class="container text-center w-50 my-5">
  <ol class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Ifood</div>
        Promoções imperdíveis
      </div>
      <span class="badge bg-primary rounded-pill">30/11</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Whatsapp</div>
        Nova mensagem!
      </div>
      <span class="badge bg-primary rounded-pill">29/11</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Twitter</div>
        @fulano curtiu seu post.
      </div>
      <span class="badge bg-primary rounded-pill">29/11</span>
    </li>
  </ol>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; 2022 NotificationApp, Inc</span>
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="https://cdn-icons-png.flaticon.com/512/2645/2645897.png" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
      </a>
    </div>
  </footer>
</div>